@model Galeri



<form  asp-action="GaleriCreate" method="post" enctype="multipart/form-data" >
    <div asp-validation-summary="All"></div>

 
    
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <select asp-for="Title" 
            class="form-control">

            <option >Hepsi</option>
             <option >app</option>
              <option >card</option>
               <option >aşk</option>

        </select><span asp-validation-for="Title" class="text-danger"></span>
    </div>
  
     <div class="mb-3">
        <label asp-for="Açıklama" class="form-label"></label>
        <input asp-for="Açıklama" class="form-control">
        <span asp-validation-for="Açıklama" class="text-danger"></span>

    </div>
    <div class=" mb-3">
     <input type="file" name="imageFile" id="imageFile"  class="form-control">
   
    </div> 
     
   

   
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a href="/Admin/AboutList" class="btn btn-danger"> Geri</a>
</form>