<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/lib/boostrap-icon/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="~/Identity2.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/style2.css">
  <link rel="stylesheet" href="/js/style.css">
  <link rel="icon" href="/ımg/5.jpg" type="image/x-icon" />

  <title>Login-Fatih Yazılım</title>
</head>
<body>
 
  <div class="container mt-3">
     @RenderBody()
  </div>
 
</body>
</html>